In [158]:
from data import load_sheet, get_prices_for_last_date, get_product_price_history

# from data import load_sheet, get_prices_for_last_date, get_product_price_history
PRICES_DF, PRODUCTS, PRODUCT_CHOICE = load_sheet()

In [192]:
n_weeks = len(PRICES_DF['date'].unique())

indexed_prices_df = PRICES_DF.set_index(['date', 'product'])
indexed_prices_df['price_first_week'] = indexed_prices_df.groupby(level="product").shift(n_weeks-1)['price']
indexed_prices_df['dif_first_week'] = indexed_prices_df['price'] - indexed_prices_df['price_first_week']
indexed_prices_df = indexed_prices_df.reset_index().set_index('date')

first_week = indexed_prices_df.last('1D')[lambda df: df['dif_first_week'] != 0].sort_values('dif_first_week')
first_week = first_week.reset_index()[['product', 'dif_first_week', 'price']].set_index('product')

In [203]:
e_rocket = "\U0001f680"
e_money = "\U0001f4b8"
e_rise = "\U0001F4C8"
e_fall = "\U0001F4C9"
e_egg = "\U0001F95A"
# print("\U0001F4C9")
# print("\U0001F95A")
# 1F4C8 1F4C9 1F95A

In [190]:
formatter = lambda x: f'{x[0]}--{e_money}{x[2]:.0f}({e_rise}{x[1]:.1f})'
first_week_formatted = first_week.reset_index().values.tolist()
first_week_formatted = [formatter(x) for x in first_week_formatted]

In [215]:
print('\n'.join(['1', '2', '3']))

1
2
3

In [210]:
# 'ü•ö'.encode('utf-8')#.decode('utf-8')
# [1,2,3] + [4,5]
a = '123'
b = a.copy()

AttributeError: 'str' object has no attribute 'copy'

In [205]:
# print('\Uü•ö')/
a = b'\xf0\x9f\xa5\x9a'
a = a.decode('utf-8')
print(a)
type(a)
print(e_egg)
a == e_egg

ü•ö
ü•ö

True

In [191]:
first_week_formatted

['–ü–æ–º–∏–¥–æ—Ä—ã--üí∏165(üìà-68.0)',
 '–ß–µ—Å–Ω–æ–∫--üí∏276(üìà-48.0)',
 '–û–≥—É—Ä—Ü—ã--üí∏99(üìà-35.0)',
 '–†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ--üí∏154(üìà-18.0)',
 '–¢—ã–∫–≤–∞--üí∏17(üìà-16.0)',
 '–¢–≤–æ—Ä–æ–≥--üí∏96(üìà-12.0)',
 '–õ—É–∫--üí∏40(üìà-1.0)',
 '–Ø–±–ª–æ–∫–∏--üí∏92(üìà2.0)',
 '–ö—É—Ä–∏—Ü–∞--üí∏328(üìà16.0)',
 '–ì–æ—Ä–æ—Ö--üí∏99(üìà30.0)',
 '–ß–∞–π--üí∏133(üìà34.0)']

In [131]:
last_day_prices = (
        PRICES_DF.groupby(['date', 'product'])['price'].mean()
        .to_frame().reset_index().set_index('date').groupby(['product']).last('1D')
        .sort_values('product')
    )

last_day_prices = last_day_prices.reset_index()
last_day_prices['product'] = last_day_prices['product'].str.encode('utf-8')
last_day_prices['product'] = last_day_prices['product'].apply(lambda x: x.decode('utf-8', 'ignore'))

df_to_print = last_day_prices.values.tolist()
df_to_print = [[x[0], x[1]] for x in df_to_print] #.encode('cp1251')
# df_to_print

In [161]:
[f'{x[0]}--{x[1]}' for x in last_day_prices.values.tolist()]

['–ë–∞–Ω–∞–Ω—ã--139.0',
 '–ë–∞—Ä–∞–Ω–∏–Ω–∞--474.0',
 '–ì–æ–≤—è–¥–∏–Ω–∞--495.0',
 '–ì–æ—Ä–æ—Ö--99.0',
 '–ì—Ä–µ—á–∫–∞--125.0',
 '–ö–∞–ø—É—Å—Ç–∞--72.0',
 '–ö–∞—Ä—Ç–æ—Ñ–µ–ª—å--44.0',
 '–ö–µ—Ñ–∏—Ä--58.0',
 '–ö—Ä—É–ø–∞ –º–∞–Ω–Ω–∞—è--69.0',
 '–ö—É—Ä–∏—Ü–∞--328.0',
 '–õ–µ–ø–µ—à–∫–∞--24.0',
 '–õ—É–∫--40.0',
 '–ú–æ–ª–æ–∫–æ--58.0',
 '–ú–æ—Ä–∫–æ–≤—å--53.0',
 '–û–≥—É—Ä—Ü—ã--99.0',
 '–ü–æ–º–∏–¥–æ—Ä—ã--165.0',
 '–†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ--154.0',
 '–†–∏—Å--65.0',
 '–†—ã–±–∞--579.0',
 '–°–∞—Ö–∞—Ä--78.0',
 '–°–ª–∏–≤–æ—á–Ω–æ–µ –º–∞—Å–ª–æ--101.0',
 '–°–æ–ª—å--8.0',
 '–¢–≤–æ—Ä–æ–≥--96.0',
 '–¢—ã–∫–≤–∞--17.0',
 '–•–ª–µ–±--17.0',
 '–ß–∞–π--133.0',
 '–ß–µ—Å–Ω–æ–∫--276.0',
 '–Ø–±–ª–æ–∫–∏--92.0',
 '–Ø–π—Ü–∞--105.0']

In [78]:
# !python3 -m pip install -U prettytable

In [146]:
import prettytable as pt

table = pt.PrettyTable(['Product', 'Price'])
table.align['Product'] = 'l'
table.align['Price'] = 'r'
# table.align['Change'] = 'r'

inputs = [
    ('ABC', 20.85, 1.626),
    ('DEF', 78.95, 0.099),
    ('GHI', 23.45, 0.192),
    ('JKL', 98.85, 0.292),
]
inputs = df_to_print

for symbol, price in inputs:
    table.add_row([symbol, f'{price:.1f}c'])

In [157]:
from prettytable import DEFAULT, MSWORD_FRIENDLY, MARKDOWN, ORGMODE, PLAIN_COLUMNS, SINGLE_BORDER
#

# table_style = table.set_style(MSWORD_FRIENDLY)
table.set_style(DEFAULT)
print(table.get_string())

|--------------------+--------|
| Product            |  Price |
|--------------------+--------|
| –ë–∞–Ω–∞–Ω—ã             | 139.0c |
| –ë–∞—Ä–∞–Ω–∏–Ω–∞           | 474.0c |
| –ì–æ–≤—è–¥–∏–Ω–∞           | 495.0c |
| –ì–æ—Ä–æ—Ö              |  99.0c |
| –ì—Ä–µ—á–∫–∞             | 125.0c |
| –ö–∞–ø—É—Å—Ç–∞            |  72.0c |
| –ö–∞—Ä—Ç–æ—Ñ–µ–ª—å          |  44.0c |
| –ö–µ—Ñ–∏—Ä              |  58.0c |
| –ö—Ä—É–ø–∞ –º–∞–Ω–Ω–∞—è       |  69.0c |
| –ö—É—Ä–∏—Ü–∞             | 328.0c |
| –õ–µ–ø–µ—à–∫–∞            |  24.0c |
| –õ—É–∫                |  40.0c |
| –ú–æ–ª–æ–∫–æ             |  58.0c |
| –ú–æ—Ä–∫–æ–≤—å            |  53.0c |
| –û–≥—É—Ä—Ü—ã             |  99.0c |
| –ü–æ–º–∏–¥–æ—Ä—ã           | 165.0c |
| –†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ | 154.0c |
| –†–∏—Å                |  65.0c |
| –†—ã–±–∞               | 579.0c |
| –°–∞—Ö–∞—Ä              |  78.0c |
| –°–ª–∏–≤–æ—á–Ω–æ–µ –º–∞—Å–ª–æ    | 101.0c |
| –°–æ–ª—å               |   8.0c |
| –¢–≤–æ—Ä–æ–≥             |  96.0c |
| –¢—ã–∫–≤–∞              |  17.0c |
| –•–ª–µ–±               |  17.0c |
| –ß–∞–π                | 133.0c |
| –ß–µ—Å–Ω–æ–∫             | 276.0c |
| –Ø–±–ª–æ–∫–∏             |  92.0c |
| –Ø–π—Ü–∞               | 105.0c |
|--------------------+--------|

In [100]:
# df_to_print

In [119]:
import functools, pprint
def escape(s):
    lead = ""
    if isinstance(s, unicode):
        s = s.encode("utf-8")
        lead = "u"
    return "%s\"%s\"" % (lead, s.replace("\\", "\\\\").replace("\"", "\\\""))

def patched(f):
    if hasattr(f, "_already_patched"):
        return f

    @functools.wraps(f)
    def sub(object, *args, **kwargs):
        try:
            if isinstance(object, basestring):
                return escape(object), True, False
        except Exception:
            pass
        return f(object, *args, **kwargs)

    sub._already_patched = True
    return sub

pprint._safe_repr = patched(pprint._safe_repr)

In [113]:
pprint.pprint(df_to_print[0][0].decode())

b'\xd0\x91\xd0\xb0\xd0\xbd\xd0\xb0\xd0\xbd\xd1\x8b'

In [107]:

dir(table)
# table.get_html_string()
print(table.get_string())

+----------------------------------------------------------------------------------------------------------------------------------------------+--------+
|                                                                   Product                                                                    |  Price |
+----------------------------------------------------------------------------------------------------------------------------------------------+--------+
|                                             b'\xd0\x91\xd0\xb0\xd0\xbd\xd0\xb0\xd0\xbd\xd1\x8b'                                              | 139.00 |
|                                     b'\xd0\x91\xd0\xb0\xd1\x80\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xbd\xd0\xb0'                                      | 474.00 |
|                                     b'\xd0\x93\xd0\xbe\xd0\xb2\xd1\x8f\xd0\xb4\xd0\xb8\xd0\xbd\xd0\xb0'                                      | 495.00 |
|                                                 b'\xd0\x93\xd0\xbe\xd1\x80\xd0\xbe\xd1\x85'                                                  |  99.00 |
|                                             b'\xd0\x93\xd1\x80\xd0\xb5\xd1\x87\xd0\xba\xd0\xb0'                                              | 125.00 |
|                                         b'\xd0\x9a\xd0\xb0\xd0\xbf\xd1\x83\xd1\x81\xd1\x82\xd0\xb0'                                          |  72.00 |
|                                 b'\xd0\x9a\xd0\xb0\xd1\x80\xd1\x82\xd0\xbe\xd1\x84\xd0\xb5\xd0\xbb\xd1\x8c'                                  |  44.00 |
|                                                 b'\xd0\x9a\xd0\xb5\xd1\x84\xd0\xb8\xd1\x80'                                                  |  58.00 |
|                         b'\xd0\x9a\xd1\x80\xd1\x83\xd0\xbf\xd0\xb0 \xd0\xbc\xd0\xb0\xd0\xbd\xd0\xbd\xd0\xb0\xd1\x8f'                         |  69.00 |
|                                             b'\xd0\x9a\xd1\x83\xd1\x80\xd0\xb8\xd1\x86\xd0\xb0'                                              | 328.00 |
|                                         b'\xd0\x9b\xd0\xb5\xd0\xbf\xd0\xb5\xd1\x88\xd0\xba\xd0\xb0'                                          |  24.00 |
|                                                         b'\xd0\x9b\xd1\x83\xd0\xba'                                                          |  40.00 |
|                                             b'\xd0\x9c\xd0\xbe\xd0\xbb\xd0\xbe\xd0\xba\xd0\xbe'                                              |  58.00 |
|                                         b'\xd0\x9c\xd0\xbe\xd1\x80\xd0\xba\xd0\xbe\xd0\xb2\xd1\x8c'                                          |  53.00 |
|                                             b'\xd0\x9e\xd0\xb3\xd1\x83\xd1\x80\xd1\x86\xd1\x8b'                                              |  99.00 |
|                                     b'\xd0\x9f\xd0\xbe\xd0\xbc\xd0\xb8\xd0\xb4\xd0\xbe\xd1\x80\xd1\x8b'                                      | 165.00 |
| b'\xd0\xa0\xd0\xb0\xd1\x81\xd1\x82\xd0\xb8\xd1\x82\xd0\xb5\xd0\xbb\xd1\x8c\xd0\xbd\xd0\xbe\xd0\xb5 \xd0\xbc\xd0\xb0\xd1\x81\xd0\xbb\xd0\xbe' | 154.00 |
|                                                         b'\xd0\xa0\xd0\xb8\xd1\x81'                                                          |  65.00 |
|                                                     b'\xd0\xa0\xd1\x8b\xd0\xb1\xd0\xb0'                                                      | 579.00 |
|                                                 b'\xd0\xa1\xd0\xb0\xd1\x85\xd0\xb0\xd1\x80'                                                  |  78.00 |
|             b'\xd0\xa1\xd0\xbb\xd0\xb8\xd0\xb2\xd0\xbe\xd1\x87\xd0\xbd\xd0\xbe\xd0\xb5 \xd0\xbc\xd0\xb0\xd1\x81\xd0\xbb\xd0\xbe'             | 101.00 |
|                                                     b'\xd0\xa1\xd0\xbe\xd0\xbb\xd1\x8c'                                                      |   8.00 |
|                                             b'\xd0\xa2\xd0\xb2\xd0\xbe\xd1\x80\xd0\xbe\xd0\xb3'                                              |  96.00 |
|                                                 b'\xd0\xa2\xd1\x8b\xd0\xba\xd0\xb2\xd0\xb0'                                                  |  17.00 |
|                                                     b'\xd0\xa5\xd0\xbb\xd0\xb5\xd0\xb1'                                                      |  17.00 |
|                                                         b'\xd0\xa7\xd0\xb0\xd0\xb9'                                                          | 133.00 |
|                                             b'\xd0\xa7\xd0\xb5\xd1\x81\xd0\xbd\xd0\xbe\xd0\xba'                                              | 276.00 |
|                                             b'\xd0\xaf\xd0\xb1\xd0\xbb\xd0\xbe\xd0\xba\xd0\xb8'                                              |  92.00 |
|                                                     b'\xd0\xaf\xd0\xb9\xd1\x86\xd0\xb0'                                                      | 105.00 |
+----------------------------------------------------------------------------------------------------------------------------------------------+--------+

In [118]:
# last_day_prices.to_html()
import sys
sys.getdefaultencoding()

'utf-8'

In [26]:
# get_prices_for_last_date(PRICES_DF)

In [129]:
df_to_print = last_day_prices.values.tolist()
df_to_print = [[x[0], x[1]] for x in df_to_print] #.encode('cp1251')
df_to_print
# print(tabulate(df_to_print))

[[139.0], [474.0], [495.0], [99.0], [125.0], [72.0], [44.0], [58.0], [69.0], [328.0], [24.0], [40.0], [58.0], [53.0], [99.0], [165.0], [154.0], [65.0], [579.0], [78.0], [101.0], [8.0], [96.0], [17.0], [17.0], [133.0], [276.0], [92.0], [105.0]]

IndexError: list index out of range

In [117]:
# UTF-16 cp1251
last_day_prices['product'].str.encode('cp1251')

0                           b'\xc1\xe0\xed\xe0\xed\xfb'
1                   b'\xc1\xe0\xf0\xe0\xed\xe8\xed\xe0'
2                   b'\xc3\xee\xe2\xff\xe4\xe8\xed\xe0'
3                               b'\xc3\xee\xf0\xee\xf5'
4                           b'\xc3\xf0\xe5\xf7\xea\xe0'
5                       b'\xca\xe0\xef\xf3\xf1\xf2\xe0'
6               b'\xca\xe0\xf0\xf2\xee\xf4\xe5\xeb\xfc'
7                               b'\xca\xe5\xf4\xe8\xf0'
8      b'\xca\xf0\xf3\xef\xe0 \xec\xe0\xed\xed\xe0\xff'
9                           b'\xca\xf3\xf0\xe8\xf6\xe0'
10                      b'\xcb\xe5\xef\xe5\xf8\xea\xe0'
11                                      b'\xcb\xf3\xea'
12                          b'\xcc\xee\xeb\xee\xea\xee'
13                      b'\xcc\xee\xf0\xea\xee\xe2\xfc'
14                          b'\xce\xe3\xf3\xf0\xf6\xfb'
15                  b'\xcf\xee\xec\xe8\xe4\xee\xf0\xfb'
16    b'\xd0\xe0\xf1\xf2\xe8\xf2\xe5\xeb\xfc\xed\xee...
17                                      b'\xd0\xe8\xf1'
18                                  b'\xd0\xfb\xe1\xe0'
19                              b'\xd1\xe0\xf5\xe0\xf0'
20    b'\xd1\xeb\xe8\xe2\xee\xf7\xed\xee\xe5 \xec\xe...
21                                  b'\xd1\xee\xeb\xfc'
22                          b'\xd2\xe2\xee\xf0\xee\xe3'
23                              b'\xd2\xfb\xea\xe2\xe0'
24                                  b'\xd5\xeb\xe5\xe1'
25                                      b'\xd7\xe0\xe9'
26                          b'\xd7\xe5\xf1\xed\xee\xea'
27                          b'\xdf\xe1\xeb\xee\xea\xe8'
28                                  b'\xdf\xe9\xf6\xe0'
Name: product, dtype: object

In [59]:
last_day_prices['product'] = ['asd', ]

               product  price
0               –ë–∞–Ω–∞–Ω—ã  139.0
1             –ë–∞—Ä–∞–Ω–∏–Ω–∞  474.0
2             –ì–æ–≤—è–¥–∏–Ω–∞  495.0
3                –ì–æ—Ä–æ—Ö   99.0
4               –ì—Ä–µ—á–∫–∞  125.0
5              –ö–∞–ø—É—Å—Ç–∞   72.0
6            –ö–∞—Ä—Ç–æ—Ñ–µ–ª—å   44.0
7                –ö–µ—Ñ–∏—Ä   58.0
8         –ö—Ä—É–ø–∞ –º–∞–Ω–Ω–∞—è   69.0
9               –ö—É—Ä–∏—Ü–∞  328.0
10             –õ–µ–ø–µ—à–∫–∞   24.0
11                 –õ—É–∫   40.0
12              –ú–æ–ª–æ–∫–æ   58.0
13             –ú–æ—Ä–∫–æ–≤—å   53.0
14              –û–≥—É—Ä—Ü—ã   99.0
15            –ü–æ–º–∏–¥–æ—Ä—ã  165.0
16  –†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ  154.0
17                 –†–∏—Å   65.0
18                –†—ã–±–∞  579.0
19               –°–∞—Ö–∞—Ä   78.0
20     –°–ª–∏–≤–æ—á–Ω–æ–µ –º–∞—Å–ª–æ  101.0
21                –°–æ–ª—å    8.0
22              –¢–≤–æ—Ä–æ–≥   96.0
23               –¢—ã–∫–≤–∞   17.0
24                –•–ª–µ–±   17.0
25                 –ß–∞–π  133.0
26              –ß–µ—Å–Ω–æ–∫  276.0
27              –Ø–±–ª–æ–∫–∏   92.0
28                –Ø–π—Ü–∞  105.0

In [57]:
len(PRODUCTS[1])
last_day_prices = last_day_prices.reset_index()
last_day_prices['product'] = last_day_prices['product'].str.encode('utf-8')
last_day_prices['product'] = last_day_prices['product'].apply(lambda x: x.decode('utf-8', 'ignore'))
# .encode('utf-8').decode('utf-8')
# print(last_day_prices)

In [58]:
print(tabulate(last_day_prices))

--  ------------------  ---
 0  –ë–∞–Ω–∞–Ω—ã              139
 1  –ë–∞—Ä–∞–Ω–∏–Ω–∞            474
 2  –ì–æ–≤—è–¥–∏–Ω–∞            495
 3  –ì–æ—Ä–æ—Ö                99
 4  –ì—Ä–µ—á–∫–∞              125
 5  –ö–∞–ø—É—Å—Ç–∞              72
 6  –ö–∞—Ä—Ç–æ—Ñ–µ–ª—å            44
 7  –ö–µ—Ñ–∏—Ä                58
 8  –ö—Ä—É–ø–∞ –º–∞–Ω–Ω–∞—è         69
 9  –ö—É—Ä–∏—Ü–∞              328
10  –õ–µ–ø–µ—à–∫–∞              24
11  –õ—É–∫                  40
12  –ú–æ–ª–æ–∫–æ               58
13  –ú–æ—Ä–∫–æ–≤—å              53
14  –û–≥—É—Ä—Ü—ã               99
15  –ü–æ–º–∏–¥–æ—Ä—ã            165
16  –†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ  154
17  –†–∏—Å                  65
18  –†—ã–±–∞                579
19  –°–∞—Ö–∞—Ä                78
20  –°–ª–∏–≤–æ—á–Ω–æ–µ –º–∞—Å–ª–æ     101
21  –°–æ–ª—å                  8
22  –¢–≤–æ—Ä–æ–≥               96
23  –¢—ã–∫–≤–∞                17
24  –•–ª–µ–±                 17
25  –ß–∞–π                 133
26  –ß–µ—Å–Ω–æ–∫              276
27  –Ø–±–ª–æ–∫–∏               92
28  –Ø–π—Ü–∞                105
--  ------------------  ---

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tabulate import tabulate

In [6]:
gc = pygsheets.authorize(service_file=key_filename)
sh = gc.open('prices-bishkek')
data = sh.worksheets()

In [15]:
working_data = [sheet for sheet in data if len(sheet.title.strip().replace('.', '')) == 8]

In [30]:
prices_df = pd.concat([sheet.get_as_df() for sheet in working_data], ignore_index=True)
prices_df['date'] = pd.to_datetime(prices_df['date'], format='%d-%m-%Y')
products = prices_df['product'].unique()
product_choice = {i: col for i, col in enumerate(products)}

In [86]:
products.sort()
products

array(['–ë–∞–Ω–∞–Ω—ã', '–ë–∞—Ä–∞–Ω–∏–Ω–∞', '–ì–æ–≤—è–¥–∏–Ω–∞', '–ì–æ—Ä–æ—Ö', '–ì—Ä–µ—á–∫–∞', '–ö–∞–ø—É—Å—Ç–∞',
       '–ö–∞—Ä—Ç–æ—Ñ–µ–ª—å', '–ö–µ—Ñ–∏—Ä', '–ö—Ä—É–ø–∞ –º–∞–Ω–Ω–∞—è', '–ö—É—Ä–∏—Ü–∞', '–õ–µ–ø–µ—à–∫–∞', '–õ—É–∫',
       '–ú–æ–ª–æ–∫–æ', '–ú–æ—Ä–∫–æ–≤—å', '–û–≥—É—Ä—Ü—ã', '–ü–æ–º–∏–¥–æ—Ä—ã', '–†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ',
       '–†–∏—Å', '–†—ã–±–∞', '–°–∞—Ö–∞—Ä', '–°–ª–∏–≤–æ—á–Ω–æ–µ –º–∞—Å–ª–æ', '–°–æ–ª—å', '–¢–≤–æ—Ä–æ–≥',
       '–¢—ã–∫–≤–∞', '–•–ª–µ–±', '–ß–∞–π', '–ß–µ—Å–Ω–æ–∫', '–Ø–±–ª–æ–∫–∏', '–Ø–π—Ü–∞'], dtype=object)

In [62]:
import time
time.sleep(2)

In [51]:
len(prices_df['date'].unique())

array(['2022-04-14T00:00:00.000000000', '2022-04-18T00:00:00.000000000',
       '2022-04-24T00:00:00.000000000', '2022-05-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [59]:
n_weeks = len(prices_df['date'].unique())
indexed_prices_df = prices_df.set_index(['date', 'product'])
indexed_prices_df['price_last_week'] = indexed_prices_df.groupby(level="product").shift(1)['price']
indexed_prices_df['price_first_week'] = indexed_prices_df.groupby(level="product").shift(n_weeks-1)['price']
indexed_prices_df['difference_last_week'] = indexed_prices_df['price'] - indexed_prices_df['price_last_week']
indexed_prices_df['difference_first_week'] = indexed_prices_df['price'] - indexed_prices_df['price_first_week']
indexed_prices_df = indexed_prices_df.reset_index().set_index('date')
last_week = indexed_prices_df.last('1D')[lambda df: df['difference_last_week'] != 0].sort_values('difference_last_week')
first_week = indexed_prices_df.last('1D')[lambda df: df['difference_first_week'] != 0].sort_values('difference_first_week')
last_week[['product', 'difference_last_week', 'price']]

                       product  difference_last_week  price
date
2022-05-01              –û–≥—É—Ä—Ü—ã                 -56.0   99.0
2022-05-01            –ü–æ–º–∏–¥–æ—Ä—ã                 -36.0  165.0
2022-05-01  –†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ                 -18.0  154.0
2022-05-01              –¢–≤–æ—Ä–æ–≥                 -12.0   96.0
2022-05-01               –¢—ã–∫–≤–∞                 -10.0   17.0
2022-05-01              –ë–∞–Ω–∞–Ω—ã                  -6.0  139.0
2022-05-01                 –õ—É–∫                  -1.0   40.0
2022-05-01             –ö–∞–ø—É—Å—Ç–∞                   9.0   72.0

In [74]:
last_week[['product', 'difference_last_week', 'price']].reset_index()['date'].astype(str)
# tabulate(last_week[['product', 'difference_last_week', 'price']], headers='keys', tablefmt='psql')

0    2022-05-01
1    2022-05-01
2    2022-05-01
3    2022-05-01
4    2022-05-01
5    2022-05-01
6    2022-05-01
7    2022-05-01
Name: date, dtype: object

In [27]:
tmp_df = cleaned_data[lambda df: df['product'] == '–ú–æ–ª–æ–∫–æ']
tmp_df['date'] = pd.to_datetime(tmp_df['date'], format='%d-%m-%Y')
tmp_df['date'] = tmp_df['date'].dt.strftime('%m-%d')

over_time = tmp_df.sort_values('date').set_index('date')#.resample('1W')['price'].mean()
plt.bar(over_time.index, over_time['price']) # over_time.plot()
plt.title(f'–¶–µ–Ω–∞ –Ω–∞ {product_name}')
plt.savefig(f'{i}.png')
plt.close()

/Users/f00l/Documents/telegram_bot/telegram_env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/f00l/Documents/telegram_bot/telegram_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

NameError: name 'product_name' is not defined

In [75]:
over_time[['product', 'price']]

      product  price
date
04-14  –ú–æ–ª–æ–∫–æ   58.0
04-18  –ú–æ–ª–æ–∫–æ   58.0
04-24  –ú–æ–ª–æ–∫–æ   58.0
05-01  –ú–æ–ª–æ–∫–æ   58.0

In [83]:
last_week.reset_index()[['product', 'difference_last_week', 'price']].set_index('product')

                    difference_last_week  price
product
–û–≥—É—Ä—Ü—ã                             -56.0   99.0
–ü–æ–º–∏–¥–æ—Ä—ã                           -36.0  165.0
–†–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ–µ –º–∞—Å–ª–æ                 -18.0  154.0
–¢–≤–æ—Ä–æ–≥                             -12.0   96.0
–¢—ã–∫–≤–∞                              -10.0   17.0
–ë–∞–Ω–∞–Ω—ã                              -6.0  139.0
–õ—É–∫                                 -1.0   40.0
–ö–∞–ø—É—Å—Ç–∞                              9.0   72.0